[project]
name = "aoc-2025"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "requests>=2.32.5",
    "ruff>=0.14.7",
    "shapely>=2.1.2",
    "typer>=0.20.0",
    "z3-solver>=4.15.4.0",
]
